<div class="dark:bg-custom-dark">
    <h2 mat-dialog-title>Reset Password</h2>
    <mat-dialog-content>
        <p>Enter your email address to reset your password:</p>
        <form [formGroup]="resetForm">
            <!-- Email Input -->
            <mat-form-field appearance="outline" class="mb-4">
                <input matInput placeholder="Email" [(ngModel)]="email" formControlName="email" />
                <mat-error *ngIf="resetForm.get('email')?.errors?.['required']">Email is required</mat-error>
                <mat-error *ngIf="resetForm.get('email')?.errors?.['email']">Email must be valid</mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close class="mr-8">Cancel</button>
        <button mat-button (click)="resetPassword()" [disabled]="!resetForm.valid">Reset Password</button>
    </mat-dialog-actions>
</div>