<div class="bg-gradient-to-r from-gray-200 to-gray-300">
    <div class="dark:bg-zinc-900 flex items-center justify-center p-5 min-h-screen">
        <div class="flex flex-col bg-white dark:bg-custom-dark dark:shadow-symmetric dark:shadow-custom-dark rounded-lg p-5 w-full max-w-4xl shadow-symmetric-xl">
            <!-- Header -->
            <header class="text-base text-center light:bgColor w-full">
                <div class="container mx-auto grid grid-cols-2 gap-4">
                    <span
                        class="rounded-lg dark:text-white dark:bg-zinc-900 bg-gray-200 p-1 font-roboto text-sm font-medium"
                        >Dvorkin B. A. group P3231 var 63637</span
                    >
                    <app-dark-mode-toggle class="justify-self-center self-center"></app-dark-mode-toggle>
                </div>
            </header>

            <!-- Main content -->
            <div class="flex-grow grid grid-cols-2 gap-4 justify-items-stretch items-stretch pt-3 dark:text-white">
                <!-- Left side image/graphic with background -->
                <div class="bg-gray-200 dark:bg-zinc-900 p-4 rounded-lg flex justify-center items-center">
                    <img src="assets/auth_bg.png" alt="Description of the image" class="dark:invert h-1/2" />
                </div>
                <!-- Right side content -->
                <div class="ml-4 flex flex-col justify-center items-center text-center p-4">
                    <h1 class="text-4xl font-roboto font-bold mb-2">Graphify</h1>
                    <p class="text-xs font-roboto mb-12">Graphify - Create and Manage Interactive Graphs</p>
                    <button class="startButton visible" (click)="navigateTologin()">Start</button>
                </div>
            </div>
        </div>
    </div>
</div>
