<div class="bg-slate-400 dark:bg-zinc-950 flex items-center justify-center p-5 min-h-screen">
    <div class="flex flex-col bg-white dark:bg-custom-dark rounded-lg shadow-xl p-5 w-full max-w-4xl">
        <!-- Header -->
        <div class="rounded-lg bg-gray-200 text-center p-2 dark:text-white dark:bg-zinc-900 light:bgColor w-full">
            Дворкин Б.А. Р3231 вариант ЕБЕЙШИЙ
        </div>

        <!-- Main content -->
        <div class="flex-grow grid grid-cols-2 gap-4 justify-items-stretch items-stretch pt-6 dark:text-white">
            <!-- Left side image/graphic with background -->
            <div class="bg-gray-200 dark:bg-zinc-900 p-4 rounded-lg flex justify-center items-center">
                <img src="assets/auth_bg.png" alt="Description of the image" class="dark:invert h-1/2" />
            </div>
            <!-- Right side content -->
            <div class="flex flex-col justify-center items-center text-center p-4">
                <h1 class="text-5xl font-roboto font-bold mb-4">Graphify</h1>
                <p class="text-2xl font-roboto mb-8">Create and Manage Interactive Graphs</p>
                <button
                    class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 transition duration-300">
                    Start
                </button>
            </div>
        </div>
    </div>
</div>